.parameters{
  padding: 0px 20px;
}

.parameter {
  margin: 0 10px;
}

mat-toolbar#app-toolbar{
  background-color: #76ca4c;
  padding: 20px 20px;
}

.row-centering {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 550px;
}

button {
  background-color: #000000;
}