
.list-wrapper {
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px;
}

.list-item {
  display: flex;
  flex-direction: row;
}

.card-content {
  margin: 10px;
}

.data-preview{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0px 10px;
}

.data-preview-item {
  width: 125px;
  margin: 5px 10px;
}