
.list-wrapper {
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px;
}

mat-card.list-item {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  background-color: #76ca4c;
}

.card-content {
  margin: 10px;
}
