
<div>

  Routes found:
  <div *ngFor="let route of event.ttp">
    <p>
        Carbon footprint: {{route.carbon_footprint}} grammes<br>
        Travel time: {{route.travel_time}} minutes<br>
    </p>
  </div>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ event.title }}</mat-card-title>
      <mat-card-subtitle>{{ event.homepage }}</mat-card-subtitle>
    </mat-card-header>
    <div class="content">
      <div class="card-image">
        <img src="{{ event.thumbnail }}"/>
      </div>

      <div class="card-content">
        <mat-card-content>
          <br>
          <p>
              Price Info: {{ event.price_information }}
          </p>
          <p>
              {{ event.address_address_line }}<br>
              {{ event.address_venue_name }}<br>
              {{ event.address_street }}<br>
              {{ event.address_zip }} {{ event.address_city }}<br>
              {{ event.address_country }}<br>
          </p>
        </mat-card-content>
      </div>
    </div>
    <p>
        {{ event.long_description }}
    </p>
  </mat-card>
  <br>

  <!-- <pre>{{ event | json }}</pre> -->

</div>

